<a href="https://colab.research.google.com/github/MyAppsTest/ciencia_datos_udemy_fg/blob/main/CienciaDeDatos_con_Federico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Curso de ciencia de datos con Federico Garay

##Operaciones

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
link = "/content/drive/MyDrive/cd_udemy_fg/Precipitaciones.csv"

In [3]:
import pandas as pd

In [6]:
df = pd.read_csv(link)

In [7]:
df

,region,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
0,A CORUNA,240.5,293.4,31.0,80.6,149.5,108.9,44.6,21.8,96.5,154.5,100.8,214.8,1536.9
1,ALBACETE,68.1,28.0,26.2,65.3,25.4,50.0,2.0,34.5,48.0,44.8,33.1,14.1,439.5
2,ALICANTE,49.2,3.7,63.2,85.8,57.2,20.0,9.2,5.0,44.0,41.1,47.4,1.8,427.6
3,ALMERIA,56.3,5.2,35.8,43.1,38.8,16.9,10.2,1.9,17.4,27.3,32.6,3.2,288.7
4,ARABA,96.8,79.9,38.0,52.0,37.7,107.8,8.5,17.7,63.3,38.5,212.2,197.3,949.7
5,ASTURIAS,196.9,138.4,34.4,73.1,67.4,131.2,22.5,19.2,90.3,74.2,309.8,205.3,1362.7
6,AVILA,67.6,104.5,5.6,83.4,25.7,44.4,5.5,14.2,97.9,91.7,33.9,47.5,621.9
7,BADAJOZ,62.2,78.5,7.7,61.3,13.0,29.6,0.0,2.7,80.5,77.6,10.2,59.3,482.6
8,ILLES BALEARS,81.2,5.3,53.9,22.0,54.4,28.5,8.8,10.0,73.2,55.6,229.9,18.1,640.9
9,BARCELONA,26.8,28.4,16.4,72.2,26.0,42.3,18.7,25.7,76.0,40.6,72.8,2.2,448.1
10,BIZKAIA,175.7,111.5,52.3,57.5,49.1,124.8,37.9,26.4,98.0,53.9,371.4,282.1,1440.6
11,BURGOS,75.8,90.1,17.2,54.2,46.0,75.5,5.8,17.6,48.4,48.7,112.3,88.1,679.7
12,CACERES,70.5,117.3,4.3,95.1,19.5,36.2,0.2,4.9,98.5,130.9,7.1,75.8,660.3
13,CADIZ,148.5,75.4,65.0,35.5,7.5,12.3,0.0,0.1,30.8,24.8,44.5,135.1,579.5
14,CANTABRIA,180.7,112.8,56.0,60.3,60.2,122.9,43.2,30.3,105.1,47.1,384.6,246.6,1449.8
15,CASTELLON,56.6,21.6,30.6,97.3,31.7,46.1,33.9,57.0,106.6,15.3,47.3,4.1,548.1
16,CEUTA,261.9,93.9,209.8,35.4,12.9,2.7,0.0,1.5,7.6,3.7,129.2,61.8,820.4
17,CIUDAD REAL,84.0,39.6,10.3,63.0,11.8,24.0,0.7,16.1,39.8,88.9,23.1,34.2,435.5
18,CORDOBA,88.6,57.5,9.6,64.5,11.6,20.7,0.3,4.7,46.0,48.1,21.0,85.4,458.0
19,CUENCA,93.6,58.4,14.8,84.8,27.0,59.5,9.0,33.4,58.1,99.3,39.5,32.2,609.6
20,GIPUZKOA,173.0,113.6,62.0,62.9,69.0,145.0,46.8,27.0,122.8,69.4,342.0,314.7,1548.2
21,GIRONA,34.9,45.4,16.0,73.2,54.2,39.9,29.4,44.0,89.9,29.6,108.5,12.1,577.1
22,GRANADA,72.2,32.9,17.2,51.0,38.1,15.5,1.3,6.8,11.5,18.6,31.7,25.5,322.3
23,GUADALAJARA,88.4,74.3,15.5,92.7,40.6,66.5,12.3,33.5,76.0,75.4,44.6,35.1,654.9
24,HUELVA,50.7,101.9,35.4,51.5,15.1,14.5,0.0,0.0,78.2,32.0,18.1,105.3,502.7
25,HUESCA,84.3,52.7,5.6,72.7,42.5,71.3,23.6,17.7,78.3,65.0,64.7,59.1,637.5
26,JAEN,100.6,66.8,10.0,53.2,18.5,31.2,0.1,15.8,19.0,45.7,51.0,51.8,463.7
27,LA RIOJA,72.8,54.2,17.6,46.5,47.1,94.8,4.1,16.9,42.0,37.2,115.8,49.7,598.7
28,LAS PALMAS,44.1,32.6,6.1,3.5,0.7,1.1,0.7,1.5,0.9,1.6,10.9,4.5,108.2
29,LEON,92.0,128.2,19.4,56.6,48.9,77.6,6.0,9.2,71.8,60.1,59.8,112.1,741.7
30,LLEIDA,59.3,42.0,12.6,81.7,37.5,66.9,38.6,19.0,55.7,45.0,58.6,32.9,549.8
31,LUGO,179.5,221.7,26.6,79.5,78.4,101.7,13.5,17.6,59.5,111.0,114.1,179.8,1182.9
32,MADRID,69.3,61.7,6.1,77.0,25.7,40.0,5.6,30.0,63.0,84.1,25.2,36.0,523.7
33,MALAGA,139.5,43.7,35.5,56.9,16.5,6.4,0.0,1.2,29.9,13.1,26.5,70.9,440.1
34,MELILLA,44.9,20.0,45.1,57.1,9.0,3.1,0.0,1.2,49.6,1.0,34.1,5.2,270.3
35,MURCIA,44.5,2.3,52.6,61.6,48.7,32.6,9.3,3.3,32.4,20.1,37.4,4.2,349.0
36,NAVARRA,98.8,85.9,23.8,43.7,44.2,87.9,17.6,28.3,64.3,45.0,161.1,186.9,887.5
37,OURENSE,138.9,234.4,10.9,98.8,65.0,86.1,5.5,23.0,65.9,97.5,32.6,144.5,1003.1
38,PALENCIA,52.3,81.3,7.5,55.8,29.7,79.3,3.4,6.8,61.6,47.5,56.0,51.5,532.7
39,PONTEVEDRA,255.4,335.7,22.3,128.4,144.5,80.7,24.6,34.0,92.4,175.7,45.3,236.4,1575.4
40,SALAMANCA,52.9,123.6,4.1,62.4,24.4,50.8,5.6,6.7,85.0,78.6,27.1,48.4,569.6
41,SANTA CRUZ DE TENERIFE,90.6,56.0,20.8,19.4,2.8,3.5,1.7,3.4,3.9,8.2,50.2,25.9,286.4
42,SEGOVIA,63.3,80.5,3.3,88.5,39.8,55.6,6.3,14.4,47.1,62.5,42.9,44.8,549.0
43,SEVILLA,91.1,54.4,24.5,60.7,9.2,8.1,0.1,0.2,46.0,29.9,20.6,114.7,459.5
44,SORIA,75.1,63.5,12.1,67.7,70.7,85.4,10.5,19.4,56.5,47.0,62.9,37.7,608.5
45,TARRAGONA,52.7,28.4,9.7,59.6,19.0,63.8,22.4,43.5,88.7,25.4,115.0,5.1,533.3
46,TERUEL,54.1,28.8,11.9,74.6,48.5,72.6,26.8,48.1,55.0,30.9,60.0,13.2,524.5
47,TOLEDO,83.0,51.1,7.5,62.5,15.0,27.1,3.3,18.6,70.5,94.7,16.4,29.9,479.6
48,VALENCIA,61.9,16.8,49.3,86.4,33.8,34.2,17.1,30.9,99.3,46.1,46.6,5.5,527.9
49,VALLADOLID,29.2,69.1,4.1,65.1,24.3,58.3,1.9,3.8,54.1,40.2,41.7,35.9,427.7
50,ZAMORA,53.0,112.0,6.8,63.7,19.8,54.2,3.1,9.6,78.5,55.3,29.0,50.3,535.3
51,ZARAGOZA,52.0,30.0,3.6,52.7,38.3,57.5,13.5,13.2,61.5,27.4,76.6,23.4,449.7

In [9]:
df.head(3)

,region,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
0,A CORUNA,240.5,293.4,31.0,80.6,149.5,108.9,44.6,21.8,96.5,154.5,100.8,214.8,1536.9
1,ALBACETE,68.1,28.0,26.2,65.3,25.4,50.0,2.0,34.5,48.0,44.8,33.1,14.1,439.5
2,ALICANTE,49.2,3.7,63.2,85.8,57.2,20.0,9.2,5.0,44.0,41.1,47.4,1.8,427.6

In [10]:
df.tail()

,region,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
47,TOLEDO,83.0,51.1,7.5,62.5,15.0,27.1,3.3,18.6,70.5,94.7,16.4,29.9,479.6
48,VALENCIA,61.9,16.8,49.3,86.4,33.8,34.2,17.1,30.9,99.3,46.1,46.6,5.5,527.9
49,VALLADOLID,29.2,69.1,4.1,65.1,24.3,58.3,1.9,3.8,54.1,40.2,41.7,35.9,427.7
50,ZAMORA,53.0,112.0,6.8,63.7,19.8,54.2,3.1,9.6,78.5,55.3,29.0,50.3,535.3
51,ZARAGOZA,52.0,30.0,3.6,52.7,38.3,57.5,13.5,13.2,61.5,27.4,76.6,23.4,449.7

In [11]:
df.shape

(52, 14)

In [12]:
df.columns

Index(['region', 'enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio',
       'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre',
       'anual'],
      dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      52 non-null     object
 1   enero       52 non-null     float64
 2   febrero     52 non-null     float64
 3   marzo       52 non-null     float64
 4   abril       52 non-null     float64
 5   mayo        52 non-null     float64
 6   junio       52 non-null     float64
 7   julio       52 non-null     float64
 8   agosto      52 non-null     float64
 9   septiembre  52 non-null     float64
 10  octubre     52 non-null     float64
 11  noviembre   52 non-null     float64
 12  diciembre   52 non-null     float64
 13  anual       52 non-null     float64
dtypes: float64(13), object(1)
memory usage: 5.8+ KB

In [14]:
df.describe()

,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000
mean,92.996154,78.632692,26.684615,64.500000,38.305769,54.182692,11.840385,17.178846,62.246154,54.373077,82.494231,76.192308,659.626923
std,57.127171,67.454280,31.473913,21.421942,29.079576,36.821635,13.256390,13.939496,28.581205,36.619785,91.689789,80.409042,352.905548
min,26.800000,2.300000,3.300000,3.500000,0.700000,1.100000,0.000000,0.000000,0.900000,1.000000,7.100000,1.800000,108.200000
25%,53.825000,32.825000,9.125000,53.950000,18.875000,26.325000,1.600000,4.850000,46.000000,29.825000,32.375000,22.075000,455.925000
50%,73.950000,62.600000,17.200000,62.700000,35.650000,50.400000,6.150000,16.500000,62.300000,46.550000,46.950000,47.950000,548.550000
75%,97.300000,102.550000,35.425000,77.625000,48.750000,78.025000,17.875000,26.550000,81.625000,74.500000,102.725000,107.000000,665.150000
max,261.900000,335.700000,209.800000,128.400000,149.500000,145.000000,46.800000,57.000000,122.800000,175.700000,384.600000,314.700000,1575.400000

In [17]:
serie = df["region"]

In [18]:
serie

0                   A CORUNA
1                   ALBACETE
2                   ALICANTE
3                    ALMERIA
4                      ARABA
5                   ASTURIAS
6                      AVILA
7                    BADAJOZ
8              ILLES BALEARS
9                  BARCELONA
10                   BIZKAIA
11                    BURGOS
12                   CACERES
13                     CADIZ
14                 CANTABRIA
15                 CASTELLON
16                     CEUTA
17               CIUDAD REAL
18                   CORDOBA
19                    CUENCA
20                  GIPUZKOA
21                    GIRONA
22                   GRANADA
23               GUADALAJARA
24                    HUELVA
25                    HUESCA
26                      JAEN
27                  LA RIOJA
28                LAS PALMAS
29                      LEON
30                    LLEIDA
31                      LUGO
32                    MADRID
33                    MALAGA
34                   MELILLA
35                    MURCIA
36                   NAVARRA
37                   OURENSE
38                  PALENCIA
39                PONTEVEDRA
40                 SALAMANCA
41    SANTA CRUZ DE TENERIFE
42                   SEGOVIA
43                   SEVILLA
44                     SORIA
45                 TARRAGONA
46                    TERUEL
47                    TOLEDO
48                  VALENCIA
49                VALLADOLID
50                    ZAMORA
51                  ZARAGOZA
Name: region, dtype: object

In [19]:
#Creando una seria (columna)
datos = [10,20,30,40,50]

In [20]:
serie2 = pd.Series(datos)

In [21]:
serie2

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [22]:
#creando indices
indices=["a", "b", "c", "d", "e"]

In [23]:
serie2= pd.Series(datos,indices)

In [24]:
serie2

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [25]:
#creando una serie con un diccionario
capitales = {"Espaa": "Madrid", "Per": "Lima", "Argentina":"Buenos Aires"}

In [26]:
serie3 = pd.Series(capitales)

In [27]:
serie3

Espaa             Madrid
Per                 Lima
Argentina    Buenos Aires
dtype: object

In [28]:
serie3["Per"]

'Lima'

In [29]:
serie = pd.Series([10,20,30,40,50])

In [30]:
#suma 10 al valor del indice 0.
serie[0] = serie[0] + 10

In [31]:
serie

0    20
1    20
2    30
3    40
4    50
dtype: int64

In [32]:
#suma 10 a todos los valores de la serie
serie = serie +10

In [33]:
serie

0    30
1    30
2    40
3    50
4    60
dtype: int64

In [34]:
#multiplica por 2 los valores de la serie
serie = serie * 2

In [35]:
serie

0     60
1     60
2     80
3    100
4    120
dtype: int64

##Limpieza de datos

In [36]:
import pandas as pd

In [37]:
data = {"Id_producto": [1001,1002,1003,1003],
        "Cantidad_vendida": [30, None, 25,25],
        "Precio": [20.5,15.0,None,22.5]}

In [38]:
df = pd.DataFrame(data)

In [39]:
df

   Id_producto  Cantidad_vendida  Precio
0         1001              30.0    20.5
1         1002               NaN    15.0
2         1003              25.0     NaN
3         1003              25.0    22.5

In [40]:
df.isnull()

   Id_producto  Cantidad_vendida  Precio
0        False             False   False
1        False              True   False
2        False             False    True
3        False             False   False

In [44]:
df.isnull().sum()

Id_producto         0
Cantidad_vendida    1
Precio              1
dtype: int64

In [45]:
#eliminando vacios
df_eliminados = df.dropna()

In [46]:
df_eliminados

   Id_producto  Cantidad_vendida  Precio
0         1001              30.0    20.5
3         1003              25.0    22.5

In [48]:
#cambiar valores nulos por otro valor
valores_nulos = {"Cantidad_vendida":0, "Precio": df["Precio"].mean()}

In [49]:
df_rellenados = df.fillna(valores_nulos)

In [50]:
df_rellenados

   Id_producto  Cantidad_vendida     Precio
0         1001              30.0  20.500000
1         1002               0.0  15.000000
2         1003              25.0  19.333333
3         1003              25.0  22.500000

In [51]:
df_rellenados["Total"] = df_rellenados["Cantidad_vendida"] * df_rellenados["Precio"]

In [52]:
df_rellenados

   Id_producto  Cantidad_vendida     Precio       Total
0         1001              30.0  20.500000  615.000000
1         1002               0.0  15.000000    0.000000
2         1003              25.0  19.333333  483.333333
3         1003              25.0  22.500000  562.500000

In [53]:
df_rellenados["Cantidad_vendida"] = df_rellenados["Cantidad_vendida"].astype(int)

In [54]:
df_rellenados

   Id_producto  Cantidad_vendida     Precio       Total
0         1001                30  20.500000  615.000000
1         1002                 0  15.000000    0.000000
2         1003                25  19.333333  483.333333
3         1003                25  22.500000  562.500000

In [55]:
df_unicos = df_rellenados.drop_duplicates(subset="Id_producto")

In [56]:
df_unicos

   Id_producto  Cantidad_vendida     Precio       Total
0         1001                30  20.500000  615.000000
1         1002                 0  15.000000    0.000000
2         1003                25  19.333333  483.333333

In [63]:
df_unicos[df_unicos["Precio"]>15]

   Id_producto  Cantidad_vendida     Precio       Total
0         1001                30  20.500000  615.000000
2         1003                25  19.333333  483.333333

##Filtro de series en Pandas

In [57]:
import pandas as pd

###filtro numericos

In [58]:
serie = pd.Series([5,10,15,20,25])

In [59]:
serie

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [60]:
#crea una variable con los criterios del filtro
filtro = serie > 15

In [61]:
serie_filtrada = serie[filtro]

In [62]:
serie_filtrada

3    20
4    25
dtype: int64

###Filtros string

In [66]:
serie2 = pd.Series(["banana", "pera", "melon", "manzana"])

In [67]:
serie2

0     banana
1       pera
2      melon
3    manzana
dtype: object

In [70]:
#dir(serie2)

In [73]:
#help(serie2.str)

In [74]:
filtro2 = serie2.str.contains("m" )

In [75]:
serie2[filtro2]

2      melon
3    manzana
dtype: object

##Agregando (calculos) series en Pandas

In [76]:
import pandas as pd

In [77]:
numeros = pd.Series([10,20,30,40,50])

In [78]:
numeros

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [84]:
#promedio
promedio = numeros.mean()
print(f"El promedio es: {promedio}")

El promedio es: 30.0

In [85]:
#suma
total = numeros.sum()
print(f"El total es: {total}")

El total es: 150

In [86]:
#maximo
maximo = numeros.max()
print(f"El total es: {maximo}")

El total es: 50

In [88]:
#minimo
minimo = numeros.min()
print(f"El total es: {minimo}")

El total es: 10