<a href="https://colab.research.google.com/github/MyAppsTest/ciencia_datos_udemy_fg/blob/main/Proyecto%20del%20D%C3%ADa%207.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyecto del Día 7 - Analizador de Ventas

### Objetivo
Crear un programa en Python que analice un conjunto de **datos de ventas de una tienda**. El programa debe realizar varias operaciones de Data Science para proporcionar información valiosa sobre las ventas de la tienda.

### Consigna

##1. **Lectura de Datos**:
Crea un DataFrame que contenga los datos provistos en el archivo **Datos_Ventas_Tienda.csv** provisto en esta lección. El archivo incluirá información como *fecha de venta*, *categoría de producto*, *cantidad vendida* y *precio*.

In [63]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [64]:
link = "/content/drive/MyDrive/cd_udemy_fg/Archivos dia7/Datos_Ventas_Tienda.csv"

In [65]:
link2 = "/content/drive/MyDrive/cd_udemy_fg/Archivos dia7/Datos_Ventas_Tienda2.csv"

In [66]:
import pandas as pd

In [67]:
df = pd.read_csv(link)

In [68]:
df

         Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0    1/17/2023  Electrónic         7              200         1400
1     9/1/2023  Electrónic         8              200         1600
2    7/29/2023    Juguetes         3               30           90
3    10/4/2023   Alimentos         4               10           40
4    2/28/2023  Electrónic         6              200         1200
..         ...         ...       ...              ...          ...
995  4/27/2023   Alimentos         2               10           20
996   6/9/2023        Ropa        10               50          500
997  8/21/2023   Alimentos         8               10           80
998  3/28/2023  Electrónic         6              200         1200
999   3/7/2023  Electrónic         4              200          800

[1000 rows x 5 columns]

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            1000 non-null   object
 1   Producto         1000 non-null   object
 2   Cantidad         1000 non-null   int64
 3   Precio Unitario  1000 non-null   int64
 4   Total Venta      1000 non-null   int64
dtypes: int64(3), object(2)
memory usage: 39.2+ KB

##2. **Fusión de Datos**:
Crea un segundo DataFrame que contenga los datos del archivo **Datos_Ventas_Tienda2.csv** (también provisto en esta lección), y concaténalos para tener un solo dataFrame con toda la información.

In [70]:
df2 = pd.read_csv(link2)

In [71]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            50 non-null     object
 1   Producto         50 non-null     object
 2   Cantidad         50 non-null     int64
 3   Precio Unitario  50 non-null     int64
 4   Total Venta      50 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [72]:
df_contatenado = pd.concat([df, df2], ignore_index=True)

In [73]:
df_contatenado

          Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0     1/17/2023  Electrónic         7              200         1400
1      9/1/2023  Electrónic         8              200         1600
2     7/29/2023    Juguetes         3               30           90
3     10/4/2023   Alimentos         4               10           40
4     2/28/2023  Electrónic         6              200         1200
...         ...         ...       ...              ...          ...
1045  9/11/2023    Juguetes        10               30          300
1046   1/3/2023    Juguetes        10               30          300
1047  11/7/2023   Alimentos         3               10           30
1048  8/20/2023  Electrónic         6              200         1200
1049  7/21/2023    Juguetes         3               30           90

[1050 rows x 5 columns]

##3. **Tratamiento de Datos**:
Utiliza Pandas para manipular estos datos. Deberás realizar tareas como limpieza de datos, filtrado y  transformaciones básicas.

In [74]:
df_contatenado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            1050 non-null   object
 1   Producto         1050 non-null   object
 2   Cantidad         1050 non-null   int64
 3   Precio Unitario  1050 non-null   int64
 4   Total Venta      1050 non-null   int64
dtypes: int64(3), object(2)
memory usage: 41.1+ KB

In [97]:

df_contatenado['Precio Unitario'] = df_contatenado['Precio Unitario'].astype(float)
df_contatenado['Total Venta'] = df_contatenado['Total Venta'].astype(float)
df_contatenado['Fecha'] = pd.to_datetime(df_contatenado['Fecha'])

In [99]:
df_contatenado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            1050 non-null   datetime64[ns]
 1   Producto         1050 non-null   object
 2   Cantidad         1050 non-null   int64
 3   Precio Unitario  1050 non-null   float64
 4   Total Venta      1050 non-null   float64
 5   mes              1050 non-null   object
 6   anio             1050 non-null   int32
dtypes: datetime64[ns](1), float64(2), int32(1), int64(1), object(2)
memory usage: 53.4+ KB

In [77]:
df_contatenado.head(5)

       Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0 2023-01-17  Electrónic         7            200.0       1400.0
1 2023-09-01  Electrónic         8            200.0       1600.0
2 2023-07-29    Juguetes         3             30.0         90.0
3 2023-10-04   Alimentos         4             10.0         40.0
4 2023-02-28  Electrónic         6            200.0       1200.0

In [78]:
df_contatenado.isnull().sum()

Fecha              0
Producto           0
Cantidad           0
Precio Unitario    0
Total Venta        0
dtype: int64

##4. **Análisis de Ventas**:
Realiza análisis para responder preguntas como:

###¿Cuál es el producto más vendido?

In [100]:
df_contatenado.groupby('Producto')['Cantidad'].sum().sort_values(ascending=False).head(1)

Producto
Alimentos    1262
Name: Cantidad, dtype: int64

###¿Cuál es el mes con más ventas?

In [98]:
df_contatenado['mes'] = df_contatenado['Fecha'].dt.month_name()
df_contatenado['anio'] = df_contatenado['Fecha'].dt.year

In [93]:
df_contatenado

,Fecha,Producto,Cantidad,Precio Unitario,Total Venta,mes,anio
0,2023-01-17,Electrónic,7,200.0,1400.0,January,2023
1,2023-09-01,Electrónic,8,200.0,1600.0,September,2023
2,2023-07-29,Juguetes,3,30.0,90.0,July,2023
3,2023-10-04,Alimentos,4,10.0,40.0,October,2023
4,2023-02-28,Electrónic,6,200.0,1200.0,February,2023
...,...,...,...,...,...,...,...
1045,2023-09-11,Juguetes,10,30.0,300.0,September,2023
1046,2023-01-03,Juguetes,10,30.0,300.0,January,2023
1047,2023-11-07,Alimentos,3,10.0,30.0,November,2023
1048,2023-08-20,Electrónic,6,200.0,1200.0,August,2023
1049,2023-07-21,Juguetes,3,30.0,90.0,July,2023

In [94]:
df_contatenado.groupby('mes')['Total Venta'].sum().sort_values(ascending=False).head(1)

mes
August    45090.0
Name: Total Venta, dtype: float64

##5. **Datos Agrupados**:
Agrupa los datos por categoría de producto y analiza las ventas por categoría.

In [105]:
acumulado = df_contatenado.groupby('Producto')['Total Venta'].sum().sort_values(ascending=False)

In [109]:
acumulado

Producto
Electrónic    244000.0
Ropa           56400.0
Juguetes       33390.0
Libros         20840.0
Alimentos      12620.0
Name: Total Venta, dtype: float64

In [114]:
df_contatenado

,Fecha,Producto,Cantidad,Precio Unitario,Total Venta,mes,anio,%Part
0,2023-01-17,Electrónic,7,200.0,1400.0,January,2023,NaN
1,2023-09-01,Electrónic,8,200.0,1600.0,September,2023,NaN
2,2023-07-29,Juguetes,3,30.0,90.0,July,2023,NaN
3,2023-10-04,Alimentos,4,10.0,40.0,October,2023,NaN
4,2023-02-28,Electrónic,6,200.0,1200.0,February,2023,NaN
...,...,...,...,...,...,...,...,...
1045,2023-09-11,Juguetes,10,30.0,300.0,September,2023,NaN
1046,2023-01-03,Juguetes,10,30.0,300.0,January,2023,NaN
1047,2023-11-07,Alimentos,3,10.0,30.0,November,2023,NaN
1048,2023-08-20,Electrónic,6,200.0,1200.0,August,2023,NaN
1049,2023-07-21,Juguetes,3,30.0,90.0,July,2023,NaN

##6. **Guardar Resultados**:
Al final, guarda el DataFrame completo (incluyendo la columna de meses) en un archivo .csv en tu ordenador.

In [96]:
df_contatenado.to_csv("/content/drive/MyDrive/cd_udemy_fg/proyectoDia7.csv", index=False)