<a href="https://colab.research.google.com/github/MyAppsTest/ciencia_datos_udemy_fg/blob/main/Proyecto%20del%20D%C3%ADa%206%20-%20An%C3%A1lisis%20de%20Medallas%20Ol%C3%ADmpicas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyecto del Día 6 - Análisis de Medallas Olímpicas

### Objetivo
Realizar un análisis exploratorio de datos (EDA) sobre un conjunto de datos de medallas olímpicas utilizando Pandas. Este proyecto te permitirá aplicar los conceptos aprendidos sobre **Series**, **DataFrames**, **limpieza de datos**, **operaciones básicas**, **filtrado** y **agregación** en Pandas.

### Consigna
Vas a trabajar con el conjunto de datos *medallas.csv*, que descargarás de la lección **Proyecto del Día 6**, y que incluye información sobre las medallas de oro, plata, bronce y el total obtenido por cada país en los Juegos Olímpicos.

Vas a realizar una serie de tareas básicas, que te permitirán responder a las preguntas del **cuestionario** que encontrarás al final del día. Las tareas que realizarás son:

1. **Cargar los Datos**: Importar los datos desde el archivo CSV a un DataFrame de Pandas.

2. **Exploración Inicial**: Utilizar métodos básicos para explorar el tamaño, las columnas y los tipos de datos del DataFrame.

3. **Limpieza de Datos**: Identificar y manejar valores faltantes o incorrectos, especialmente en las columnas de medallas donde los valores faltantes indican cero medallas.

4. **Análisis de Medallas de Oro por País**: Realiza las operaciones que sean necesarias para identificar cuáles fueron los 3 países con más medallas de Oro en total (vas a necesitar investigar los métodos de dataframes para encontrar cuál te permite ordenar los valores de mayor a menor o viceversa).

5. **Análisis de Medallas Totales por País**: Obtener un dataframe que contenga sólo los países que ganaron más de 10 medallas en total.


Una vez que hayas realizado estos pasos, realiza el **cuestionario del día**, que contiene preguntas que solo podrás responder tras haber explorado los datos siguiendo los pasos anteriores.

¡Mucha suerte!

##1. cargar datos

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
link = "/content/drive/MyDrive/cd_udemy_fg/medallas.csv"

In [4]:
df = pd.read_csv(link)

##2. exploracion inicial

In [11]:
df.sample(10)

     Oro  Plata  Bronce  Total                       Pais
71   NaN    NaN     1.0      1        Republic of Moldova
40   1.0    1.0     3.0      5                  Indonesia
83   3.0    4.0     6.0     13                Switzerland
15   2.0    4.0     6.0     12             Chinese Taipei
21   3.0    4.0     4.0     11                    Denmark
19   7.0    3.0     5.0     15                       Cuba
13   NaN    NaN     1.0      1               Burkina Faso
25  39.0   41.0    33.0    113  Estados Unidos de America
26   1.0    NaN     1.0      2                    Estonia
7    1.0    3.0     3.0      7                    Belarus

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Oro     65 non-null     float64
 1   Plata   69 non-null     float64
 2   Bronce  76 non-null     float64
 3   Total   93 non-null     int64
 4   Pais    93 non-null     object
dtypes: float64(3), int64(1), object(1)
memory usage: 3.8+ KB

In [7]:
df.isnull().sum()

Oro       28
Plata     24
Bronce    17
Total      0
Pais       0
dtype: int64

##3. limpieza de datos

In [13]:
valores_nulos = {"Oro":0, "Plata":0, "Bronce":0}

In [14]:
df = df.fillna(valores_nulos)

In [17]:
df['Oro'] = df['Oro'].astype(int)
df['Plata'] = df['Plata'].astype(int)
df['Bronce'] = df['Bronce'].astype(int)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Oro     93 non-null     int64
 1   Plata   93 non-null     int64
 2   Bronce  93 non-null     int64
 3   Total   93 non-null     int64
 4   Pais    93 non-null     object
dtypes: int64(4), object(1)
memory usage: 3.8+ KB

##4. Análisis de Medallas de Oro por País

In [28]:
df =df.sort_values(["Oro", "Plata", "Bronce"], ascending=False)

In [31]:
df.head(20)

    Oro  Plata  Bronce  Total                        Pais
25   39     41      33    113   Estados Unidos de America
72   38     32      18     88  Republica Popular de China
46   27     14      17     58                       Japon
34   22     21      22     65                Gran Bretana
2    17      7      22     46                   Australia
14    7      6      11     24                      Canada
11    7      6       8     21                      Brazil
61    7      6       7      2                 New Zealand
19    7      3       5     15                        Cuba
38    6      7       7      2                     Hungary
70    6      4       1      2           Republic of Korea
66    4      5       5     14                      Poland
20    4      4       3     11              Czech Republic
49    4      4       2      1                       Kenya
64    4      2       2      8                      Norway
45    4      1       4      9                     Jamaica
81    3      8       6     17                       Spain
82    3      6       0      9                      Sweden
83    3      4       6     13                 Switzerland
21    3      4       4     11                     Denmark

##5. Análisis de Medallas Totales por País

In [32]:
df =df.sort_values("Total", ascending=False)

In [33]:
df.head(20)

    Oro  Plata  Bronce  Total                        Pais
25   39     41      33    113   Estados Unidos de America
72   38     32      18     88  Republica Popular de China
73    2     28      23     71                         ROC
34   22     21      22     65                Gran Bretana
46   27     14      17     58                       Japon
2    17      7      22     46                   Australia
32    1     11      16     37                     Germany
60    1     12      14     36                 Netherlands
30    1     12      11     33                      France
14    7      6      11     24                      Canada
11    7      6       8     21                      Brazil
90    1      6      12     19                     Ukraine
81    3      8       6     17                       Spain
19    7      3       5     15                        Cuba
66    4      5       5     14                      Poland
83    3      4       6     13                 Switzerland
87    2      2       9     13                      Turkey
15    2      4       6     12              Chinese Taipei
20    4      4       3     11              Czech Republic
21    3      4       4     11                     Denmark